@using MvcKutuphane.Models.Entity
@model List<TBLHAREKET>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Ödünç Kitap Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>İşlem ID</th>
        <th>Kitap Adı</th>
        <th>Üye</th>
        <th>Personel</th>
        <th>Alış Tarihi</th>
        <th>İade Tarihi</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.TBLKITAP.AD</td>
            <td>@k.TBLUYELER.AD&nbsp @k.TBLUYELER.SOYAD</td>
            <td>@k.PERSONEL</td>
            <td>@k.ALISTARIH</td>
            <td>@k.VERİSTARIH</td>
            <td><a href="/Odunc/Oduncİade/@k.ID" class="btn btn-danger" style="background-color:#632626">Kitabı iade Et</a></td>
        </tr>

    }
</table>




